@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#course-detail-heading {
   margin-top: 4rem;
   background-color: #2f697e;
   height: 300px;
}

/* body {
   font-family: 'Montserrat', sans-serif;
} */

.vh-75 {
   min-height: 75vh;
}

.mt-7 {
   margin-top: 7rem;
}

.mt-6 {
   margin-top: 6rem;
}

.shadow-1 {
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#login {
   margin-top: 7rem;
}

.course-item:hover {
   cursor: pointer;
   /* border-radius: 8px; */
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.post-item:hover {
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.my-post-item:hover {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#slider {
   margin-top: 7rem;
}

#categories {
   margin-top: 7rem;
}

.course-author,
.course-time {
   font-size: 0.8rem;
}

#category-main {
   margin-top: 7rem;
}

.profile-photo {
   position: absolute;
   top: 75%;
}

.user-info {
   margin-top: 12rem;
}

#lesson-main {
   margin-top: 4rem;
}

.lesson_dropdown_list {
   max-height: 80vh;
   overflow-y: scroll
}

.chapter span {
   font-size: 0.8rem;
}

.lesson-item:hover {
   background-color: rgba(240, 240, 240, 0.5);
   cursor: pointer;
}

.my-shadow {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}